SECRET/
node_modules/
SIC-IOT-img-Server-master
Assignment7/flask_app/__pycache__
Assignment7/flask_app/__pycache__/app.cpython-310.pyc 
Assignment7/flask_app/venv
zAssignment10/package-lock.json
zAssignment10/package.json
zAssignment12/image/__pycache__
zAssignment12/image/package-lock.json
zAssignment12/image/package.json
zAssignment12/oldJS/package-lock.json
zAssignment12/oldJS/package.json