Assignment10/node_modules/
Assignment10/package.json
Assignment10/package-lock.json
SIC-IOT-img-server-master/
zAssignment12/oldJS/node_modules/
zAssignment12/oldJS/package.json/
zAssignment12/oldJS/package-lock.json/
zAssignment12/image/node_modules/
Assignment7/flask_app/__pycache__
Assignment7/flask_app/venv